.form-container {
    background: #fff;
    border-radius: 20px;
    padding: 30px 80px;

    max-width: 800px;
    box-shadow: 0 15px 16px .17px rgba(0, 0, 0, 0.05);
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    text-align: center;
}

.row{
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}